<!DOCTYPE html>
<html>
<head>
<title>About|{{ site.title }}</title>
<body>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="default.css">
    </head>
<body>

<div class="header">
  <h1>Clean Blog</h1>
  <h3>About</h3>
    </div>

<div class="navbar">
<nav>
  {% for item in site.nav %}
    <a class="button" href="{{ item.link }}" 
      {% if page.url == item.link %} style="color: white;text-decoration:none;" {% endif %}
    >
      {{ item.name }}
    </a>
  {% endfor %}
</nav>
</div>

<div class="row">
  <div class="side">
  <div class="main">
<h1>关于我们</h1>
{% for post in site.posts.about.about.md %}
      <p>{{ content }}</p>
      {% endfor %}
</div>
      {% include footer.html %}
</div>
