<!DOCTYPR html>
<title>{{ site.title }}</title>
<head>
<style>
.button { /* 按钮美化 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: black; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */
	text-decoration:none;
}
.button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}
</style>
  </head
<nav>
  {% for item in site.nav %}
    <a class="button" href="{{ item.link }}" 
      {% if page.url == item.link %} style="color: black;text-decoration:none;" {% endif %}
    >|
      {{ item.name }}
    </a>
  {% endfor %}
</nav>

<h1 style="font-family:verdana">Latest article</h1>
{% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 style="font-family:verdana">
            {{ post.title }}
        </h2>
{% endfor %}
