<!DOCTYPE html>
<html>
<head>
<title>{{ site.title }}</title>
<body>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="default.css">
</head>
<body>

<div class="header">
    <h1>Clean Blog</h1>
</div>

<div class="navbar">
	
<nav>
  {% for item in site.nav %}
    <a class="button" href="{{ item.link }}" 
      {% if page.url == item.link %} style="color: white;text-decoration:none;" {% endif %}
    >
      {{ item.name }}
    </a>
  {% endfor %}
</nav>
</div>
<div class="row">
  <div class="side">
	<h1 style="font-family:verdana">Latest article</h1>
  <div class="main">
{% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 style="font-family:verdana">
            {{ post.title }}
        </h2>
{% endfor %}
{% if post.lang == 'en' %}
{{ post.content | strip_html | truncate:300 }}
{% else %}
{{ post.content | strip_html | truncate:200 }}
{% endif %}
</div>
{% include footer.html %}
       
</body>
</html>
