<!DOCTYPE html>
<html>
<title>{{ site.title }}</title>
{% include head.html %}

<div class="header">
    <h1>Clean Blog</h1>
</div>
{% include navbar.html %}
<div class="row">
  <div class="side">
	<h1 style="font-family:verdana">Latest article</h1>
  <div class="main">
{% for post in site.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" style="color:grey;text-decoration:none;">
        <h2 style="font-family:verdana">
            {{ post.title }}
        </h2>
{% endfor %}
{% if post.lang == 'en' %}
{{ post.content | strip_html | truncate:300 }}
{% else %}
{{ post.content | strip_html | truncate:200 }}
{% endif %}
</div>
{% include footer.html %}
       
</body>
</html>
