<!DOCTYPE html>
<html>
<title>{{ page.title }}</title>
	{% include head.html %}
<div class="header">
    <h1>Clean Blog</h1>
</div>

<div class="navbar">
	
<nav>
  {% for item in site.nav %}
    <a class="button" href="{{ item.link }}" 
      {% if page.url == item.link %} style="color: white;text-decoration:none;" {% endif %}
    >
      {{ item.name }}
    </a>
  {% endfor %}
</nav>
</div>
<div class="row">
  <div class="side">
	<h1 style="font-family:verdana"></h1>
  <div class="main">
        <h2 style="font-family:verdana">
            {{ page.title }}
        </h2>

</div>
{% include footer.html %}
       
</body>
</html>
